.main {
    min-height: 100vh;
    background-color: var(--color-dark-bg-variant);
}

.section {
    min-width: 100vw;
}

.headingSection {
    background-color: var(--color-dark-bg);
}

.container {
    margin: 0 auto;
    width: var(--container-width-lg);
    padding: 1rem;

    color: var(--color-white);
}

// BUTTONS
.btnPrimary {
    padding: .5rem 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;

    &:hover {
        opacity: 80%;
        cursor: pointer;
    }
}

.btnSecondary {
    padding: .5rem 1rem;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-radius: 10px;

    &:hover {
        opacity: 80%;
        cursor: pointer;
    }
}

// LOGIN PAGE
.loginSection {
    background-image: url('https://www.tourismus-bw.de/_Resources/Persistent/63496c2893189c90b03069dacf236798d596df30/Pforzheim_Inselsteg_%C2%A9_Pierre-Johne.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        max-width: 50%;
        text-align: center;
        color: red;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 1rem;
    }
}

.loginWrapper {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    text-align: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input {
            background-color: var(--color-white);
            padding: .5rem 1rem;
            border-radius: 10px;

            &:focus {
                opacity: 80%;
            }
        }

        ::placeholder {
            color: var(--color-black);
        }
    }

    h2,
    h5 {
        color: var(--color-white);
    }

    img {
        height: 50px;
        max-width: 100px;
        object-fit: contain;
        align-self: center;
    }
}

// ADMIN PAGE (JOBS)
.adminHeading {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    .inputFilter {
        margin: 1rem 0;
        width: 100%;


        input {
            width: 30vw;
            height: 30px;
            border-radius: 10px;
            padding: 0 10px;
            box-shadow: 5px 5px 1px 0px #888;

            &:focus {
                opacity: 80%;
            }
        }

        ::placeholder {
            color: var(--color-black);
        }
    }
}

.adminJobCard {
    background-color: var(--color-dark-bg);
    padding: 1rem;
    border-radius: 10px;

    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: 100%;
    margin-bottom: 1rem;

    &:hover {
        background-color: var(--color-gray-bg);
        cursor: pointer;
    }

    h3 {
        flex: 1;
        text-align: left;
    }

    p {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 10px;
        }
    }

    a {
        position: relative;
        background-color: var(--color-primary);
        padding: 1rem;
        border-radius: 10px;
        transition: var(--transition);

        &:hover {
            background-color: var(--color-secondary);
        }
    }
}

// BottomAdminNav
.bottomNav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    margin-top: 2rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);

    ul {
        display: flex;
        gap: 1rem;
    }

    a {
        background: transparent;
        padding: 0.9rem;
        border-radius: 50%;
        display: flex;
        color: var(--color-white);
        font-size: 1.1rem;
        padding: 1 rem;

        width: 80px;
        height: 80px;

        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 9px;
        }
    }

    a:hover {
        background: rgba(0, 0, 0, 0.3);
    }

    a.active {
        background: var(--color-primary);
        color: var(--color-bg);
    }
}

// PROFILE PAGE 
.profileContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.updateWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background-color: var(--color-dark-bg);
    padding: 1rem;
    border-radius: 10px;
    width: 300px;

    input {
        padding: .5rem 1rem;
        border-radius: 10px;

        &:hover {
            opacity: 80%;
        }
    }
}