* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-bg: #fff;
  --color-dark-bg: #2B2B2B;
  --color-dark-bg-variant: #404040;
  --color-gray-bg: #4D4D4D;
  --color-primary: #4db5ff;
  --color-secondary: #E91E62;
  --color-partner: #FFF28F;
  --color-black: #000;
  --color-white: #fff;
  --color-light: rgba(0, 0, 0, 0.1);
  --color-shadow: #888;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  background-color: var(--color-bg);
  color: var(--color-black);
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}