.main {
  min-height: 100vh;
}

.section {
  min-width: 100vw;
}

.container {
  margin: 0 auto;
  width: var(--container-width-lg);
  padding: 1rem;
}

// BUTTONS
.btnPrimary {
  padding: .5rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 10px;

  &:hover {
    opacity: 80%;
    cursor: pointer;
  }
}

.btnSecondary {
  padding: .5rem 1rem;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-radius: 10px;

  &:hover {
    opacity: 80%;
    cursor: pointer;
  }
}

// HOME PAGE
.headingSection {
  background-image: url('https://www.tourismus-bw.de/_Resources/Persistent/63496c2893189c90b03069dacf236798d596df30/Pforzheim_Inselsteg_%C2%A9_Pierre-Johne.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: var(--color-white);


  display: flex;
  flex-direction: column;

  .homeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .altHeader {
      display: none;
      flex-direction: row;
      gap: 10px;
      margin-left: auto;
    }

    .inputFilter {
      margin: 1rem 0;
      width: 100%;


      input {
        width: 25vw;
        height: 30px;
        border-radius: 10px;
        padding: 0 10px;
        box-shadow: 5px 5px 5px 0px #888;

        &:focus {
          opacity: 80%;
        }
      }

      ::placeholder {
        color: var(--color-black);
      }
    }

    .stirnerLogo {
      height: 50px;
      width: auto;
      object-fit: contain;
      margin: 1rem 0;
    }

  }
}

.picsWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  span {
    font-size: 8px;
    opacity: 50%;
    font-weight: lighter;
  }

  img {
    height: 100px;
    width: 150px;
    object-fit: contain;
    opacity: 50%;

    &:hover {
      opacity: 100%;
    }
  }
}

.filtersWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  .searchFilter {

    select {
      padding: 1rem;
      border: 1px solid var(--color-light);
      border-radius: 10px;
      box-shadow: 5px 5px 5px -5px #888;

      &:hover {
        opacity: 80%;
        background-color: var(--color-light);
        cursor: pointer;
      }
    }
  }

  .searchFilterCleaning {
    margin-top: 1rem;

    button {
      background-color: transparent;
      font-size: 14px;
      transition: var(--transition);

      &:after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: var(--color-primary);
        transition: 300ms;
      }

      &:hover:after {
        width: 100%;
      }

      &:hover {
        color: var(--color-primary);
        cursor: pointer;
      }
    }
  }
}



.moreJobsWrapper {
  text-align: center;


  button {
    font-size: large;
    background: none;
    border: 1px solid;
    padding: .5rem 1rem;
    transition: var(--transition);

    &:hover {
      cursor: pointer;
      border-radius: 10px;
      color: var(--color-primary);
    }
  }
}

// COMPONENTS

// JobCard
.jobCard {


  .jobCardInfos {
    display: grid;
    grid-template-columns: 2.25fr 1fr 1fr 1fr;
    background-color: var(--color-light);
    gap: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--color-light);

    .jobCardTitle {
      align-self: center;

      h2 {
        font-size: 20px;
        font-weight: 600;
      }

      &:hover {
        color: var(--color-primary);
        cursor: pointer;
      }
    }

    .jobCardParagraph {
      h5 {
        font-weight: 600;
      }
    }
  }

  .partnerCompany {
    //background-color: var(--color-partner);
  }

  .jobCardExtension {
    margin-top: -1rem;
    padding: 1rem 2rem;
    border: 1px solid var(--color-light);
    border-top: none;

    .jobCardExtensionHeading {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .jobCardExtensionHeadingInfos {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .heading {
          text-align: center;

          h3 {
            font-weight: 600;
          }
        }

        .jobInfos {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 2rem;
          text-align: center;
        }
      }

      .companyInfos {
        padding: 1rem;
        border-radius: 10px;
        text-align: center;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border: 1px solid var(--color-light);
        max-width: 200px;

        .copyJobIdClipboard {
          width: 100%;
          display: flex;
          flex-direction: column;
          border: 1px solid var(--color-light);
          margin-bottom: .5rem;

          button {
            background-color: var(--color-primary);
            color: var(--color-white);

            &:hover {
              opacity: 80%;
              cursor: pointer;
            }

            &:focus {
              background-color: greenyellow;
              color: var(--color-black);
            }
          }
        }


        &:hover {
          border-color: var(--color-primary);
        }

        img {
          width: 150px;
          height: 150px;
          object-fit: contain;
          align-self: center;
        }
      }
    }

    .jobTopics {
      margin-bottom: 1rem;

      h4 {
        font-weight: 600;
      }
    }

    .applyJobForm {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .applyField {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      input {
        padding: .5rem 1rem;
        border: 1px solid #888;
        border-radius: 10px;

        &:focus {
          border-color: var(--color-primary);
        }
      }
    }
  }
}